# P2: Project proposal and initial analyses
When you are done with Homework H1, you will continue to work on the next project milestone. In Milestone P2, together with your team members, you will agree on and refine your project proposal. Your first task is to select a project. Even though we provide the datasets for you to use, at this juncture, it is your responsibility to perform initial analyses and verify that what you propose is feasible given the data (including any additional data you might bring in yourself), which is crucial for the success of the project.

The goal of this milestone is to intimately acquaint yourself with the data, preprocess it, and complete all the necessary descriptive statistics tasks. We expect you to have a pipeline in place, fully documented in a notebook, and show us that you have clear project goals.

When describing the relevant aspects of the data, and any other datasets you may intend to use, you should in particular show (non-exhaustive list):

- That you can handle the data in its size.
- That you understand what’s in the data (formats, distributions, missing values, correlations, etc.).
- That you considered ways to enrich, filter, transform the data according to your needs.
- That you have a reasonable plan and ideas for methods you’re going to use, giving their essential mathematical details in the notebook.
- That your plan for analysis and communication is reasonable and sound, potentially discussing alternatives to your choices that you considered but dropped.

We will evaluate this milestone according to how well these steps have been done and documented, the quality of the code and its documentation, the feasibility and critical awareness of the project. We will also evaluate this milestone according to how clear, reasonable, and well thought-through the project idea is. Please use the second milestone to really check with us that everything is in order with your project (idea, feasibility, etc.) before you advance too much with the final Milestone P3! There will be project office hours dedicated to helping you.

You will work in a public GitHub repository dedicated to your project, which can be created by following this link. The repository will automatically be named ada-2023-project-<your_team_name>. By the Milestone P2 deadline, each team should have a single public GitHub repo under the epfl-ada GitHub organization, containing the project proposal and initial analysis code.

## P2 deliverable (done as a team): GitHub repository with the following:

- Readme.md file containing the detailed project proposal (up to 1000 words). Your README.md should contain:
  - Title
  - bstract: A 150 word description of the project idea and goals. What’s the motivation behind your project? What story would you like to tell, and why?
  - Research Questions: A list of research questions you would like to address during the project.
  - Proposed additional datasets (if any): List the additional dataset(s) you want to use (if any), and some ideas on how you expect to get, manage, process, and enrich it/them. Show us that you’ve read the docs and some examples, and that you have a clear idea on what to expect. Discuss data size and format if relevant. It is your responsibility to check that what you propose is feasible.
  - Methods
  - Proposed timeline
  - Organization within the team: A list of internal milestones up until project Milestone P3.
  - Questions for TAs (optional): Add here any questions you have for us related to the proposed project.
- Notebook containing initial analyses and data handling pipelines. We will grade the correctness, quality of code, and quality of textual descriptions.

In [100]:
# Imports
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Import the data with the correct format
data_folder = '../Data'
paths_folder = data_folder + '/wikispeedia_paths-and-graph'

# Define the columns of each dataframe
columns_f = ['hashedIpAddress','timestamp','durationInSec','path','rating']
columns_u = ['hashedIpAddress','timestamp','durationInSec','path','target', 'type']

# Define the path to each dataframe
finished_paths = paths_folder + '/paths_finished.tsv'
unfinished_paths = paths_folder + '/paths_unfinished.tsv'
distance_matrix_file = paths_folder + "/shortest-path-distance-matrix.txt"
articles_list_file = paths_folder + '/articles.tsv'

# Load the Data
df_success = pd.read_csv(finished_paths,comment='#',sep='\t',names=columns_f)
df_fail = pd.read_csv(unfinished_paths,comment='#',sep='\t',names=columns_u)

# Control
print('Finished Paths:')
display(df_success)

print('Unfinished Paths:')
display(df_fail)

# Find the median timestamp in df_success
median_timestamp_success = pd.to_datetime(df_success['timestamp'], unit='s').median()
max_timestamp_success = pd.to_datetime(df_success['timestamp'], unit='s').max()

# Find the median timestamp in df_fail
median_timestamp_fail = pd.to_datetime(df_fail['timestamp'], unit='s').median()
max_timestamp_fail = pd.to_datetime(df_fail['timestamp'], unit='s').max()

# Convert the median timestamps to human-readable format
median_timestamp_success_human = median_timestamp_success.strftime('%Y-%m-%d %H:%M:%S')
median_timestamp_fail_human = median_timestamp_fail.strftime('%Y-%m-%d %H:%M:%S')
max_timestamp_success_human = max_timestamp_success.strftime('%Y-%m-%d %H:%M:%S')
max_timestamp_fail_human = max_timestamp_fail.strftime('%Y-%m-%d %H:%M:%S')

# Print the median timestamps in human-readable format
print('Median Timestamp in df_success:', median_timestamp_success_human)
print('Median Timestamp in df_fail:', median_timestamp_fail_human)
print('Max Timestamp in df_success:', max_timestamp_success_human)
print('Max Timestamp in df_fail:', max_timestamp_fail_human)

Finished Paths:

,hashedIpAddress,timestamp,durationInSec,path,rating
0,6a3701d319fc3754,1297740409,166,14th_century;15th_century;16th_century;Pacific...,NaN
1,3824310e536af032,1344753412,88,14th_century;Europe;Africa;Atlantic_slave_trad...,3.0
2,415612e93584d30e,1349298640,138,14th_century;Niger;Nigeria;British_Empire;Slav...,NaN
3,64dd5cd342e3780c,1265613925,37,14th_century;Renaissance;Ancient_Greece;Greece,NaN
4,015245d773376aab,1366730828,175,14th_century;Italy;Roman_Catholic_Church;HIV;R...,3.0
...,...,...,...,...,...
51313,15a13a1d66ef5456,1349231015,66,Yagan;Ancient_Egypt;Civilization,NaN
51314,2ef7ac844cefda58,1300254138,165,Yagan;Folklore;Brothers_Grimm;<;19th_century;C...,3.0
51315,12863abb7887f890,1385095372,228,Yagan;Australia;England;France;United_States;T...,NaN
51316,19f8284371753362,1298792567,56,Yarralumla%2C_Australian_Capital_Territory;Aus...,1.0
51317,24b84602179de377,1318122701,30,Ziad_Jarrah;Germany;Jew,NaN

Unfinished Paths:

,hashedIpAddress,timestamp,durationInSec,path,target,type
0,2426091a53125110,1297054935,1804,Obi-Wan_Kenobi,Microsoft,timeout
1,26141fd878806294,1297055651,1805,Julius_Caesar,Caracas,timeout
2,2b015fb8181c48f2,1297090819,1818,Malawi;Democracy;Alexander_the_Great,First_Crusade,timeout
3,53a53bc244e08a6a,1297094761,49,Paraguay,Mount_St._Helens,restart
4,53a53bc244e08a6a,1297099105,1808,Paraguay;Bolivia,Mount_St._Helens,timeout
...,...,...,...,...,...,...
24870,109ed71f571d86e9,1389787605,180,Franz_Kafka;Tuberculosis;World_Health_Organiza...,Cholera,restart
24871,232f992e57d43e8d,1389787697,6,Modern_history,Hollandic,restart
24872,2e09a7224600a7cd,1389798400,1900,Computer_programming;Linguistics;Culture;Popul...,The_Beatles,timeout
24873,60af9e2138051b96,1389799481,1903,Jamaica;United_Kingdom;World_War_II;Battle_of_...,Alan_Turing,timeout
24874,1cf0cbb3281049ab,1389822841,352,Mark_Antony;Rome;Tennis;Hawk-Eye;Computer,Feather,restart

Median Timestamp in df_success: 2010-09-07 21:16:24
Median Timestamp in df_fail: 2012-09-25 15:23:43
Max Timestamp in df_success: 2014-01-15 22:00:50
Max Timestamp in df_fail: 2014-01-15 21:54:01

In [130]:
df_fail = df_fail[~((df_fail.type == 'timeout') &
                    (~df_fail['path'].str.contains(';')))].copy()   #find() returns -1 if not in str. Not finding a ; means player stayed at start
                                                                                                #Writing the inverse condition with a not is more clear

We also considered converting the ```timestamp``` data to a human readable form, but this makes processing that data more difficult overall. We keep this code here, if needed later.

We create the ```paths``` variables to encode the different paths for different players

In [102]:
paths_success = df_success.path.apply(lambda x: x.split(';')).copy()
df_success['target'] = paths_success.apply(lambda x: x[len(x)-1])
df_fail.path = df_fail.path.map(str) + ';' + df_fail.target.map(str)

In [103]:
with open(distance_matrix_file, 'r') as file:
    content = file.read()

# Convert to a 2D list representing the distance matrix
rows = content.strip().split('\n')[17:]
distance_matrix = [[int(dist) if dist != '_' else -1 for dist in row] for row in rows]

# We need to get the list of articles as presented in the data, in order to know their index in the dataset, and hence interpret our distance matrix
articles = pd.read_csv("../data/wikispeedia_paths-and-graph/articles.tsv", sep='\t', skiprows= 11, skip_blank_lines=True)
articles_arr = articles.values
article_list = (item[0] for item in articles_arr)

article_index_map = {article: index for index, article in enumerate(article_list)}

In [104]:
columns_cat = ['article', 'category', 'sub_category', 'sub_sub_category']
df_categories = pd.read_csv(paths_folder + '/categories.tsv', comment='#',sep='\t',names=columns_cat)

def split_categories(row):
    categories = row.category.split('.')[1:]    #Drop the "subject."
    row['category'] = categories[0]
    if len(categories) > 1:
        row['sub_category'] = categories[1]
    if len(categories) > 2:
        row['sub_sub_category'] = categories[2]
    return row

df_categories = df_categories.apply(split_categories, axis=1).copy()

In [112]:
def get_distance(row):
    start_index = int(row.start)
    end_index = int(row.end)
    if start_index is None or end_index is None:
        return -1
    return distance_matrix[start_index][end_index]

def augment(df):
    df_out = df.copy()
    df_out['start'] = df.path.apply(lambda x: article_index_map.get(x.split(';')[0])).copy()
    df_out['end']   = df.path.apply(lambda x: article_index_map.get(x.split(';')[-1])).copy()
    df_out = df_out.dropna(axis=0, subset=['end']).copy()
    df_out['game_len'] = df_out.path.apply(lambda x: len(x.split(';')) - 1).copy()
    df_out['optimal_len'] = df_out.apply(get_distance, axis = 1).copy()
    return df_out

In [113]:
#Let's augment our success Dataframe, with the start and end id, as well as a game_len and optimal_len column
df_success = augment(df_success)
df_fail = augment(df_fail)

,hashedIpAddress,timestamp,durationInSec,path,rating,target,start,end,game_len,optimal_len
0,6a3701d319fc3754,1297740409,166,14th_century;15th_century;16th_century;Pacific...,NaN,African_slave_trade,10,143,8,3
1,3824310e536af032,1344753412,88,14th_century;Europe;Africa;Atlantic_slave_trad...,3.0,African_slave_trade,10,143,4,3
2,415612e93584d30e,1349298640,138,14th_century;Niger;Nigeria;British_Empire;Slav...,NaN,African_slave_trade,10,143,7,3
3,64dd5cd342e3780c,1265613925,37,14th_century;Renaissance;Ancient_Greece;Greece,NaN,Greece,10,1793,3,2
4,015245d773376aab,1366730828,175,14th_century;Italy;Roman_Catholic_Church;HIV;R...,3.0,John_F._Kennedy,10,2266,6,3
...,...,...,...,...,...,...,...,...,...,...
51313,15a13a1d66ef5456,1349231015,66,Yagan;Ancient_Egypt;Civilization,NaN,Civilization,4558,928,2,2
51314,2ef7ac844cefda58,1300254138,165,Yagan;Folklore;Brothers_Grimm;<;19th_century;C...,3.0,Fiction,4558,1500,8,3
51315,12863abb7887f890,1385095372,228,Yagan;Australia;England;France;United_States;T...,NaN,U.S._Open_%28tennis%29,4558,4273,6,3
51316,19f8284371753362,1298792567,56,Yarralumla%2C_Australian_Capital_Territory;Aus...,1.0,Abraham_Lincoln,4562,97,3,2
51317,24b84602179de377,1318122701,30,Ziad_Jarrah;Germany;Jew,NaN,Jew,4594,2244,2,2

,hashedIpAddress,timestamp,durationInSec,path,target,type,start,end,game_len,optimal_len
2,2b015fb8181c48f2,1297090819,1818,Malawi;Democracy;Alexander_the_Great;First_Cru...,First_Crusade,timeout,2616,1516.0,3,3
3,53a53bc244e08a6a,1297094761,49,Paraguay;Mount_St._Helens,Mount_St._Helens,restart,3156,2859.0,1,3
4,53a53bc244e08a6a,1297099105,1808,Paraguay;Bolivia;Mount_St._Helens,Mount_St._Helens,timeout,3156,2859.0,2,3
5,131600803df4895e,1297100557,2009,Agriculture;History_of_the_world;China;Yangtze...,Grand_Canal_of_China,timeout,149,1754.0,4,3
6,486bb79910fe9dd2,1297101660,1932,Mind;Christianity;Europe;Renaissance;Ancient_G...,Scouting,timeout,2780,3662.0,7,4
...,...,...,...,...,...,...,...,...,...,...
24870,109ed71f571d86e9,1389787605,180,Franz_Kafka;Tuberculosis;World_Health_Organiza...,Cholera,restart,1585,902.0,8,3
24871,232f992e57d43e8d,1389787697,6,Modern_history;Hollandic,Hollandic,restart,2802,1993.0,1,3
24872,2e09a7224600a7cd,1389798400,1900,Computer_programming;Linguistics;Culture;Popul...,The_Beatles,timeout,1008,4040.0,5,3
24873,60af9e2138051b96,1389799481,1903,Jamaica;United_Kingdom;World_War_II;Battle_of_...,Alan_Turing,timeout,2205,164.0,4,3
24874,1cf0cbb3281049ab,1389822841,352,Mark_Antony;Rome;Tennis;Hawk-Eye;Computer;Feather,Feather,restart,2658,1479.0,5,3

In [116]:
display(df_success)
display(df_fail)

,hashedIpAddress,timestamp,durationInSec,path,rating,target,start,end,game_len,optimal_len
0,6a3701d319fc3754,1297740409,166,14th_century;15th_century;16th_century;Pacific...,NaN,African_slave_trade,10,143,8,3
1,3824310e536af032,1344753412,88,14th_century;Europe;Africa;Atlantic_slave_trad...,3.0,African_slave_trade,10,143,4,3
2,415612e93584d30e,1349298640,138,14th_century;Niger;Nigeria;British_Empire;Slav...,NaN,African_slave_trade,10,143,7,3
3,64dd5cd342e3780c,1265613925,37,14th_century;Renaissance;Ancient_Greece;Greece,NaN,Greece,10,1793,3,2
4,015245d773376aab,1366730828,175,14th_century;Italy;Roman_Catholic_Church;HIV;R...,3.0,John_F._Kennedy,10,2266,6,3
...,...,...,...,...,...,...,...,...,...,...
51313,15a13a1d66ef5456,1349231015,66,Yagan;Ancient_Egypt;Civilization,NaN,Civilization,4558,928,2,2
51314,2ef7ac844cefda58,1300254138,165,Yagan;Folklore;Brothers_Grimm;<;19th_century;C...,3.0,Fiction,4558,1500,8,3
51315,12863abb7887f890,1385095372,228,Yagan;Australia;England;France;United_States;T...,NaN,U.S._Open_%28tennis%29,4558,4273,6,3
51316,19f8284371753362,1298792567,56,Yarralumla%2C_Australian_Capital_Territory;Aus...,1.0,Abraham_Lincoln,4562,97,3,2
51317,24b84602179de377,1318122701,30,Ziad_Jarrah;Germany;Jew,NaN,Jew,4594,2244,2,2

,hashedIpAddress,timestamp,durationInSec,path,target,type,start,end,game_len,optimal_len
2,2b015fb8181c48f2,1297090819,1818,Malawi;Democracy;Alexander_the_Great;First_Cru...,First_Crusade,timeout,2616,1516,3,3
3,53a53bc244e08a6a,1297094761,49,Paraguay;Mount_St._Helens,Mount_St._Helens,restart,3156,2859,1,3
4,53a53bc244e08a6a,1297099105,1808,Paraguay;Bolivia;Mount_St._Helens,Mount_St._Helens,timeout,3156,2859,2,3
5,131600803df4895e,1297100557,2009,Agriculture;History_of_the_world;China;Yangtze...,Grand_Canal_of_China,timeout,149,1754,4,3
6,486bb79910fe9dd2,1297101660,1932,Mind;Christianity;Europe;Renaissance;Ancient_G...,Scouting,timeout,2780,3662,7,4
...,...,...,...,...,...,...,...,...,...,...
24870,109ed71f571d86e9,1389787605,180,Franz_Kafka;Tuberculosis;World_Health_Organiza...,Cholera,restart,1585,902,8,3
24871,232f992e57d43e8d,1389787697,6,Modern_history;Hollandic,Hollandic,restart,2802,1993,1,3
24872,2e09a7224600a7cd,1389798400,1900,Computer_programming;Linguistics;Culture;Popul...,The_Beatles,timeout,1008,4040,5,3
24873,60af9e2138051b96,1389799481,1903,Jamaica;United_Kingdom;World_War_II;Battle_of_...,Alan_Turing,timeout,2205,164,4,3
24874,1cf0cbb3281049ab,1389822841,352,Mark_Antony;Rome;Tennis;Hawk-Eye;Computer;Feather,Feather,restart,2658,1479,5,3

Now that we succesfully applied this to our DataFrame, let's apply this to our 4 focus games, and see what we get!

In [121]:
df_combined = pd.concat([df_success.assign(success=1), df_fail.assign(success=0)])
display(df_combined)

# Merge df_categories with the target article
merged_df = pd.merge(df_combined, df_categories, left_on='target', right_on='article')
countries_data = merged_df[merged_df['category'] == 'Countries']['target']

# Count the number of appearances of each country
country_counts = countries_data.value_counts()

# Calculate the average success rate
average_success_rate = merged_df[merged_df['category'] == 'Countries'].groupby('target')['success'].mean()

# Create a dataframe with the country counts and average success rate
df_countries = pd.DataFrame({'Country': country_counts.index, 'Count': country_counts.values, 'Average Success Rate': average_success_rate.values})

df_countries['Average Excess Path Length'] = df_success['game_len'] - df_success['optimal_len']

display(df_countries)

,hashedIpAddress,timestamp,durationInSec,path,rating,target,start,end,game_len,optimal_len,success,type
0,6a3701d319fc3754,1297740409,166,14th_century;15th_century;16th_century;Pacific...,NaN,African_slave_trade,10,143,8,3,1,NaN
1,3824310e536af032,1344753412,88,14th_century;Europe;Africa;Atlantic_slave_trad...,3.0,African_slave_trade,10,143,4,3,1,NaN
2,415612e93584d30e,1349298640,138,14th_century;Niger;Nigeria;British_Empire;Slav...,NaN,African_slave_trade,10,143,7,3,1,NaN
3,64dd5cd342e3780c,1265613925,37,14th_century;Renaissance;Ancient_Greece;Greece,NaN,Greece,10,1793,3,2,1,NaN
4,015245d773376aab,1366730828,175,14th_century;Italy;Roman_Catholic_Church;HIV;R...,3.0,John_F._Kennedy,10,2266,6,3,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
24870,109ed71f571d86e9,1389787605,180,Franz_Kafka;Tuberculosis;World_Health_Organiza...,NaN,Cholera,1585,902,8,3,0,restart
24871,232f992e57d43e8d,1389787697,6,Modern_history;Hollandic,NaN,Hollandic,2802,1993,1,3,0,restart
24872,2e09a7224600a7cd,1389798400,1900,Computer_programming;Linguistics;Culture;Popul...,NaN,The_Beatles,1008,4040,5,3,0,timeout
24873,60af9e2138051b96,1389799481,1903,Jamaica;United_Kingdom;World_War_II;Battle_of_...,NaN,Alan_Turing,2205,164,4,3,0,timeout
24874,1cf0cbb3281049ab,1389822841,352,Mark_Antony;Rome;Tennis;Hawk-Eye;Computer;Feather,NaN,Feather,2658,1479,5,3,0,restart

,Country,Count,Average Success Rate,Average Excess Path Length
0,China,118,1.000000,5
1,Vietnam,109,0.916667,1
2,Japan,91,0.937500,4
3,Russia,88,1.000000,1
4,Canada,76,0.909091,3
...,...,...,...,...
220,South_Ossetia,5,0.750000,1
221,Martinique,4,1.000000,1
222,British_Indian_Ocean_Territory,3,1.000000,1
223,Saint_Kitts_and_Nevis,3,0.888889,0
224,Saint_Vincent_and_the_Grenadines,3,0.914286,1

In [129]:
import requests

# Define the base URL for the World Bank API
base_url = "http://api.worldbank.org/v2"

# Define the parameters for the API request
country = "AFG"  # Use the ISO2 code for the country
year = "2011"
indicators = ["NY.GDP.MKTP.CD", "SP.POP.TOTL"]  # GDP (current US$) and total population

# Send a GET request to the World Bank API
response = requests.get(f"{base_url}/country/{country}/indicator/NY.GDP.MKTP.CD?date={year}&format=json")
data = response.json()

display(data)

# Parse the response and extract the data
data_dict = {
    "country": data[1][0]["country"]["value"],
    "year": data[1][0]["date"],
    "GDP": data[1][0]["value"],
    "population": data[1][1]["value"]
}

# Write the data to a DataFrame
df = pd.DataFrame([data_dict])

# Display the DataFrame
print(df)

[{'page': 1,
  'pages': 1,
  'per_page': 50,
  'total': 1,
  'sourceid': '2',
  'lastupdated': '2023-12-18'},
 [{'indicator': {'id': 'NY.GDP.MKTP.CD', 'value': 'GDP (current US$)'},
   'country': {'id': 'AF', 'value': 'Afghanistan'},
   'countryiso3code': 'AFG',
   'date': '2011',
   'value': 17805098367.2952,
   'unit': '',
   'obs_status': '',
   'decimal': 0}]]

IndexError: list index out of range